[submodule "themes/hugo-blox"]
	path = themes/hugo-blox
	url = https://github.com/HugoBlox/kit.git
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book.git
